<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Your App</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Welcome to Your App</h1>
        <div class="flex-container text-center">
            <a class="btn btn-primary m-2" href="{{ url_for('search_user') }}">Search User</a>
            <a class="btn btn-primary m-2" href="{{ url_for('add_user_details') }}">Add User Details</a>
            <a class="btn btn-primary m-2" href="{{ url_for('calculate_risk') }}">Calculate Health Risk</a>
            <a class="btn btn-primary m-2" href="{{ url_for('train_model') }}">Train Model</a>
            <a class="btn btn-primary m-2" href="{{ url_for('visualize') }}">Visualize Data</a>
            <a class="btn btn-primary m-2" href="/report">View Model Training Report</a>
        </div>
        {% if model_accuracy is not none %}
            <h2 class="text-center">Model Accuracy: {{ model_accuracy }}</h2>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
