<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to the Sleep Impact Project</h1>
    <ul>
        <li><a href="{{ url_for('search_user') }}">Search for User Details</a></li>
        <li><a href="{{ url_for('calculate_risk') }}">Cardiovascular Risk Assessment</a></li>
    </ul>
</body>
</html>
